*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}

main {
    height: 100%;
    width: 100%;
    background-image: url(/bg.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    
}
